body{
font-family: 'Roboto' , sans-serif ;
background-color: darkslateblue;
}

.header_div{
    background-color: #03fc6f;
    color: #fce303;
}
.header_div P {
font-family: 'Roboto' , sans-serif ;
font-weight: bold;
letter-spacing: 2px;
font-size: 12px;
}

.main_div button{
    font-family: 'Pushster', cursive;
    margin-top: 13px;
    width: 130px;
    height: 100px;
    font-weight: bold;
    letter-spacing: 2px;
}


.copy_right_footer{
position: fixed;
color: #bad8f7;
background-color: maroon;
bottom: 0;
width: 100%;
text-align: center;
font-size: 10px;
line-height: 1px;
text-shadow: 5px 5px 5px rgb(orange, green, blue);
}